@tailwind base;
@tailwind components;
@tailwind utilities;

/*     Primary: #d0f6fb (RGB: 208, 246, 251)
Secondary: #03191c (RGB: 3, 25, 28)
Primary Button: #60dff0 (RGB: 96, 223, 240)
Secondary Button: #052e33 (RGB: 5, 46, 51)
Accent: #49dbee (RGB: 73, 219, 238) */
@layer base {
    :root{
        --color-text: 208 246 251;
        --color-background: 3 25 28;
        --primary-btn: 96 223 240;
        --secondary-btn: 5 46 51;
        --color-accent: 73 219 238;
    }
}
